# Ignore OSX files
.DS_Store

# Ignore the pyenv version
.python-version

# Ignore the Swagger UI distribution
src/swagger/swagger-ui-*/
src/swagger.node_modules/

# Ignore the Node Modules used to convert the JSON schema to OpenApi schema
src/swagger/node_modules/

# Ignore Gems in Layer build folders
src/sam/.aws-sam/
src/sam/layers/ruby/
src/sam/gems/**/.rspec_status

src/lambdas/**/.aws-sam
src/lambdas/layers/**/ruby

# Ignore downloaded content from the scripts folder
src/scripts/*.gz
src/scripts/*.csv
