# This dictionary defines all of the Lambdas that are invoked directly by other Lambdas.
# The allowed entries are:
#   name: The resource name for the Lambda Function/Role/Policy
#
#   tag: The lower case name which will be used for:
#          - the zip file containing the lambda code. Format is 'lambda-${s3key}.json'
#          - CodePipeline artifact names
#          - etc.
#
#   cognito: whether or not the Lambda is protected by cognito (API only)
#
#   dynamo: an array of actions. An empty array means no access.
#           Valid options: ['read', 'search', 'write']
#
#   s3: an array of actions. An empty array means no access. Valid options: ['read', 'write']
#
#   sqs: an array of topics. An empty array means that the lambda does not need to read/write
#        from the SQS queue. The valid array options/topics are ['download', 'notify', 'publish']
{%
set DIRECT_LAMBDAS = [
  { "name": "Authorizer", "tag": "authorizer", "cognito": "false",
    "dynamo": [], "s3": [], "sqs": [] },

  { "name": "Responder", "tag": "responder", "cognito": "false",
    "dynamo": [], "s3": [], "sqs": ["email"] },

  { "name": "Validator", "tag": "validator", "cognito": "false",
    "dynamo": [], "s3": [], "sqs": [] }
]
%}
{%
set SQS_LAMBDAS = [
  { "name": "DocumentDownloader", "tag": "document-downloader",
    "dynamo": ["read"], "s3": ["read", "write"], "sqs": ["download"] },

  { "name": "EzidPublisher", "tag": "ezid-publisher",
    "dynamo": ["read"], "s3": [], "sqs": ["publish"] },

  { "name": "ProvenanceNotifier", "tag": "provenance-notifier",
    "dynamo": ["read"], "s3": [], "sqs": ["notify"] }
]
%}
{%
set API_LAMBDAS = [
  { "name": "PostDmps", "tag": "post-dmps",
    "api_method": "POST", "api_source_arn_suffix": "/dmps", "cognito": "true",
    "dynamo": ["read", "search", "write"], "s3": [], "sqs": ["download", "notify", "publish"] }
]
%}
{#
  { "name": "DeleteDmp", "tag": "delete-dmp",
    "api_method": "DELETE", "api_source_arn_suffix": "/dmps/{dmp_id+}", "cognito": "true",
    "dynamo": ["read", "write"], "s3": ["read", "write"], "sqs": ["download", "publish"] },

  { "name": "GetDmp", "tag": "get-dmp",
    "api_method": "GET", "api_source_arn_suffix": "/dmps/{dmp_id+}", "cognito": "true",
    "dynamo": ["read"], "s3": ["read"], "sqs": [] },

  { "name": "GetDmps", "tag": "get-dmps",
    "api_method": "GET", "api_source_arn_suffix": "/dmps", "cognito": "false",
    "dynamo": ["read", "search"], "s3": [], "sqs": [] },

  { "name": "PutDmp", "tag": "put-dmp",
    "api_method": "PUT", "api_source_arn_suffix": "/dmps/{dmp_id+}", "cognito": "true",
    "dynamo": ["read", "write"], "s3": [], "sqs": ["download", "notify", "publish"] }
#}